  .app {
    /* overflow: hidden;
    overflow-y: hidden; */
    /* height: 100%;
    width: 100%;  */
    overflow: auto;
    /* overflow-y: auto; */
    width: 100%;
    white-space: nowrap;
    /* max-width: 1200px; */
  }

  .content-next-to-narrow-navbar {
    color: #badbdb;
    /* background-color: #F9F7F6; */
    float: right;
    width: 95%;
    height: 100%; 
   
  }

  .content-next-to-default-navbar {
    color: #023737;
    /* background-color: #F9F7F6; */
    float: right;
    width: 88%;
    height: 100%; 
   
  }

  
  .content-full-width {
    color: #023737;
    /* background-color: #F9F7F6; */
    float: right;
    width: 100%;
    height: 100%; 
   
  }

  .content-no-navbar {
    color: #023737;
    /* background-color: #F9F7F6; */
    float: right;
    width: 88%;
    height: 100%; 
   
  }

  @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}