.navbar {
    background-color: #004644;
    color: white;
    position: absolute;
    float: left;
    height: 95.5vh ;  
    width: 12%;  /*225px*/
    z-index: 10;
  }

  .navbar-narrow {
    background-color: #004644;
    color: white;
    position: absolute;
    float: left;
    height: 95.5vh;  
    width: 68px;  
     z-index: 10;
  }

  /* @media screen and (max-width: 1600px) {
  .navbar {float:none;}


  @media (max-width: 1600px) {
  .navbar {
    display: none;
  }
  } */
  
  .navbar-links {
    transform: translateY(40px);
    float: top;
    align-items: center; 
    justify-content: center; 
   
  }

  .navbar-item {
    padding-top: 20px; 
  }

  .navbar-item-hide {
    padding-top: 20px; 
    margin-left: -30px;
    color:red;
    background-color: red;
  }


  .navbar-item-hide-title {
    padding-top: 20px; 
    margin-left: 1px;
  }



  .navbar-item:hover {
    text-decoration: underline;
  }
  
  .navbar-item-link {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.6;
    margin-left: 50px;
  }

  .navbar-item-link-clicked {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    opacity: 1;
    margin-left: 50px;
  }

  .navbar-icon {
    transform: translateY(5px) translateX(-10px);
  }

  .navbar-icon-in-narrow-mode {
    transform: translateY(5px) translateX(-26px);
  }
  