.tab-num {
  background-color: white;
  color: #6d8b89;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.halt-action-button {
  background-color: #006666 !important;
  color: white;
  font-size: 0.7rem;
  padding: 1px 4px;
  white-space: nowrap;
  margin-left: 8px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 102, 102, 0.2) !important;
}

.halt-action-button:hover {
  background-color: #004d4d !important;
  box-shadow: 0 4px 12px rgba(0, 102, 102, 0.3) !important;
}

.newhalt-button {
  background-color: #013737;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px 16px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.newhalt-button:hover {
  background-color: #025757;
}

.hidden-halt-num {
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  overflow-y: hidden;
}
