
.dashboard {
    color: #023737;
    background-color: #F9F7F6;
    float: right;
    width: 88vw;
    height: 100vh; 
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-header {
    font-size: 18px;
    color: black;
    z-index: 100px;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin-left: 40px;
    margin-top: 65px;
    /* transform: translateY(-700px) translatex(590px); */
  }