.app {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.content-next-to-narrow-navbar {
  float: right;
  width: calc(100% - 48px);
  height: 100%;
}

.content-next-to-default-navbar {
  float: right;
  width: calc(100% - 160px);
  height: 100%;
}

.content-full-width {
  float: right;
  width: 100%;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
